<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/presidents');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    // the objects like $('#chat') correspond to the id in an html object
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    // this line auto scrolls down when the message exceeds
                    // the window space
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    // same as above
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('validity', function(data) {
                    $('#chat').val($('#chat').val() + data.validity + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                // $('1').on('click', function (e) {
                //     addCard(1);
                // });
                // $('2').on('click', function (e) {
                //     addCard(2);
                // });
                // $('3').on('click', function (e) {
                //     addCard(3);
                // });
                // $('4').on('click', function (e) {
                //     addCard(4);
                // });
                // $('5').on('click', function (e) {
                //     addCard(5);
                // });

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        // .val() returns whatever is in the object before the dot
                        text = $('#text').val();
                        $('#text').val('');

                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    // what is this situation exactly?
                        // we need to disconnect the socket (which represents
                        // a boi) from the server and then we want to redirect
                        // to the the login page
                    // window.location.href = "{{ url_for('main.index') }}";
                });
            }

            function addCard(card) {
                socket.emit('singles click', {action: 'add', card: card})
            }
        </script>
    </head>
    <body>
        <h1>presidents: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
    </body>
    <div id="footer">
        <div>
            <button onclick="addCard(1);" class='card' id="1">1</button>
            <button onclick="addCard(2);" class='card' id="2">2</button>
            <button onclick="addCard(3);" class='card' id="3">3</button>
            <button onclick="addCard(4);" class='card' id="4">4</button>
            <button onclick="addCard(5);" class='card' id="5">5</button>
        </div>
    </div>
</html>
